{% extends "home/base.html" %}

{% block blog_content %}
<div class="jumbotron">
    <h1>Masa's Blog</h1>
    <div id="myCarousel" class="carousel slide bg-inverse w-50 ml-auto mr-auto" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for number in range(blog_sections|length) -%}
                <li data-target="#myCarousel" data-slide-to="{{ number }}" {% if loop.first %}class="active"{% endif %}></li>
              {% endfor -%}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for blog_section in blog_sections -%}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ blog_section.image[0] }}" alt="{{ blog_section.image_alt[0] }}">
                  <div class="carousel-caption summary_subject">
                    <h4>{{ blog_section.subject[0] }}</h4>
                    <p>Here comes a short message.</p>
                  </div>
              </div>
              {% endfor -%}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
{% for blog_section in blog_sections -%}
<div class="row main">
  <div class="media">
    <img class="mr-3 media_image" src="{{ blog_section.image[0] }}" alt="{{ blog_section.image_alt[0] }}">
    <div class="media-body">
        <a href="{{ blog_section.html_name }}"><h4>{{ blog_section.subject[0] }}</h4></a>
        <h5>{{ blog_section.created_date[0] }}</h5>
        <p>{{ blog_section.short_summary[0] }}</p>
    </div>
  </div>
</div>
{% if loop.last == False %}  <hr/> {% endif %}
{% endfor -%}
{% endblock %}