{% extends 'home/base.html' %}

{% block title %}
Contact Me
{% endblock %}

{% block page_content %}
<div class="jumbotron">
    <h1>Send Me a Message!</h1>
    <p>I'm here to answer any questions!
    <small>(Note: You'll receive a confirmation email.)</small></p>
    <div class="container">
        <div class="row">

        <div class="col-8">
            <form method="POST">{{ csrf_input }}
            <div class="form-group row">
                <label for="Name" class="col-3 col-form-label">Name</label>
                <div class="col-9">
                <input name="name" type="text" placeholder="Name" class="form-control" id="name" >
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-3 col-form-label">Email</label>
                <div class="col-9">
                <input name="email" type="email" placeholder="Email" class="form-control" id="email" >
                </div>
            </div>
            <div class="form-group row"> <label for="last_name" class="col-3 col-form-label">Message</label> 
                <div class="col-9"> 
                    <textarea name="message" row="6" class="form-control" id="message" ></textarea> 
                </div> 
            </div> 
            <div class="form-group row"> 
                <div class="offset-3 col-9"> 
                    <button type="submit" class="btn btn-primary">Submit</button> 
                </div> 
            </div> 
        </form> 
    </div>
        <div class="col-4 contact_info">
            <div class="contact_item">
                <div class="contact_item_title">Email:</div>
                <div class="contact_item_value">nativeyana@gmail.com</div>
            </div>
            <div class="contact_item">
                <div class="contact_item_title">Telephone:</div> 
                <div class="contact_item_value">(000)000-00000</div>
            </div>
            <div class="contact_item">
                <div class="contact_item_title">Skype:</div> 
                <div class="contact_item_value">myskype123</div>
            </div>
            <div class="contact_item">
                <div class="contact_item_title">Address:</div> 
                <div class="contact_item_value">Oakland, CA 946xx</div>
            </div>
        </div>
        </div>
    </div>
<div class="row main">
    {% if content %}
        {{ content|safe }}
    {% endif %}
</div> 
</div>
{% endblock %}