{% extends 'home/base.html' %}

{% block title %}
Github Repo
{% endblock %}

{% block page_content %}
<div class="jumbotron">

    <div class="container">
      <div class="row">

        <div class="col-sm-8">
            <h1>My github repos</h1>
            <ol>
            {% for repo in github_repos %}
                <li><a href="{{ repo.html_url }}">{{ repo.name }}</a>: <span><small>(Last Update: {{ repo.updated_at }} )</small></span></li>
            {% endfor %}
            </ol>
        </div>
      </div>

    </div>
</div>
{% endblock %}