<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/codehilite.css">
    <title>Masa's {{ title }} Page</title>
    <script>
      function myFunction() {
         alert("Oh, no! Don't click me! (⌣_⌣”)");
      }
    </script>
</head>
<body>
    <div class="container"> 
        <!-- Header/Nav -->
        <div class="row header">
            <div class="col">
                <img onclick="myFunction()" src="images/logo_masayana_small_60.png" alt="Logo_MasaYana">
            </div>
            <div class="col">
                <ul class="nav nav-pills" id="bottom" >
                    {%- for navlink in navlinks -%}
                        <li class="nav-item">
                            <a class="nav-link {% if navlink.filename  == outputfile %}active{% endif %}" href="{{ navlink.filename }}">{{ navlink.title }}</a>
                        </li>
                    {% endfor -%}
                </ul>
            </div>
       </div> 
       <!-- Template: top: end -->

{% if outputfile == 'blog.html' %}
{% block blog_content %}{% endblock %}
{% elif source_path == 'blog' %}
{% block each_blog_base %}{% endblock %}
{% else %}
{{ page_content }}
{% endif %}
        <!-- Template: bottom: start --> 
        <!-- Footer -->
        <div class="row">
            <div class="col footer">
                <div>&copy;{{ copyright_year }} Masaaki Yana. All rights reserved.</div>
                <div><a href="#">Privacy Policy</a></div>
            </div> 
        </div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
